/* Styles for insights*/

/* Global styles */
@font-face {
    font-family: 'kg_blank_space_sketchregular';
    src: url('chalk-webfont.woff2') format('woff2'),
         url('chalk-webfont.woff') format('woff');
}
body {
    background-color: #282828;
    color: #EFEFEF;
    font-family: 'Open Sans', sans-serif;
}

/*headline styles*/
#headline{
    margin-top: 60px;
}

#title h1 {
    font-size: 110px;
    font-family: 'kg_blank_space_sketchregular', 'Open Sans' !important;
}

#dashHead {
    font-weight: bold;
    color: #CC5500;
}

#title h2 {
  margin-bottom: 30px;
  color: #EFEFEF;
}

#hellothere {
  color: #EFEFEF;
}

#hellothere:hover {
  cursor: auto;
  color: #EFEFEF;
  text-decoration: none;
}

#score{
    text-align: center;
}

#scoreValue {
    margin-top: -15px;
    font-size: 90px;
    color: #CC5500;
}

#scoreExplanation{
    font-size: 9px;
    text-align: left;
}

#days{
    font-size: 15px;
    margin-top: -10px;
}
ol {
  height: 20px;
  padding: 1em 0;
  margin-top: -10px;
}
ol li {
  display: inline-block;
  height: 20px;
  border: 1px solid #EFEFEF;
  margin-right: 4px;
}
ol li:nth-child(5n) {
  transform: rotate(409deg);
  height: 30px;
  position: relative;
  left: -15px;
  top: 5px;
  margin-right: 1em;
  margin-top: -10px;
}

/* General progress bar styles*/
.progress-bar {
    background-color: #23c4bf !important;
}

.progress {
    background-color: #d8d8d8 !important;
    margin: 15px 0;
    height: 25px;
    width: 100%;
}

/* Macros styles*/
#macros {
  margin-top: 60px;
}


#macros .col-2:nth-child(3), #meals .col-2:nth-child(3) {
    margin-left: -39px;
}

.macroLabels {
    margin-top: 17px;
    margin-bottom: -5px;
}

/* Meals styles*/
#meals {
  margin-top: 60px;
}

#mealRow {
    margin-top: 50px;
}

#mealRow h5{
  text-decoration: underline;
}

#calories, #water {
  height: 40px;
}

.calorieLabel, .waterLabel {
    margin-top: 33px;
    margin-bottom: -5px;
}

.food_list {
  margin-top: 30px;
  padding-left: 0;
  list-style-type: none;
}

.food_list li {
  margin-bottom: 10px;
}

/* Responsive Styles */
@media only screen and (max-width: 994px) {
    #headline .col-2 {
      max-width: 100% !important;
    }

    #score {
      text-align: left;
    }

    #mealRow .col-3{
      max-width: 33.3%;
      flex: none;
    }

}

@media only screen and (max-width: 769px) {
    #title h1 {
      font-size: 85px;
    }

    #scoreValue {
      font-size: 75px;
    }

    #macros .col-5, #meals .col-5 {
      max-width: 100%;
      flex: none;
    }

    #macros .col-2,  #meals .col-2{
      max-width: 50%;
      flex: none;
      margin-top: -25px;
      margin-bottom: 35px;
    }

    #macros .col-2:nth-child(2) .macroLabels, #meals .col-2:nth-child(2) .calorieLabel, #meals .col-2:nth-child(2) .waterLabel{
      text-align: left;
    }

    #macros .col-2:nth-child(3) .macroLabels, #meals .col-2:nth-child(3) .calorieLabel, #meals .col-2:nth-child(3) .waterLabel{
      text-align: right;
    }

    #meals .col-2{
      margin-top: -40px;
    }

}
@media only screen and (max-width: 550px) {
  #title h1 {
    font-size: 65px;
  }

  #scoreValue {
    font-size: 55px;
  }

  #title h2 {
    font-size: 30px;
  }

  #macros h3, #meals h3 {
    font-size: 22px;
  }

  #mealRow .col-3 {
    max-width: 100%;
  }
}
@media only screen and (max-width: 430px) {
  #title h1 {
    font-size: 55px;
  }
  #title h2 {
    font-size: 25px;
  }

  #scoreValue {
    font-size: 45px;
  }
}
